<h1>Tienda de productos</h1>

{{#if items.length}}
{{#each items}}
<h2>{{this.title}}</h2>
<img src="{{this.thumbnail}}" alt="" width="100">
<p>{{this.price}}</p>
{{/each}}
{{else}}
<h1>No hay productos</h1>
{{/if}}
