<div>
    <div>
    <h1>SIGNUP</h1>
    <br />
    <form
        role="form"
        action="/register"
        method="post"
        autocomplete="off"
    >
        <div>
        <input
            name="username"
            placeholder="Nombre"
            type="text"
            required
        />
        </div>
        <div>
        <input
            name="password"
            placeholder="Password"
            type="password"
            required
        />
        </div>

        <br />

        <div>
        <input
            name="firstname"
            placeholder="firstname"
            type="text"
            required
        />
        </div>

        <div>
        <input
            name="lastname"
            placeholder="lastname"
            type="text"
            required
        />
        </div>

        <div>
        <input
            name="email"
            placeholder="email"
            type="email"
            required
        />
        </div>

        <div>
        <input type="submit" value="Signup" />
        </div>
    </form>
    </div>
</div>